/*This document contains the styles that use the app. You can change these as you wish.*/
:root {
    --main-color: #031a2c;
    --secondary-color: #073559;
    --header-color: #649ee3;
    --widthLef: 80rem;
  }
h6 {
    color: #ffffff;
}
.ds4a-app {
    background-color: var(--secondary-color);
}
.ds4a-title {
    
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: var(--widthLef);
    z-index: 999; 
    color: #ffffff;
    margin-left: 16rem;
    margin-bottom: 0rem;
    
    /* margin-right: 2rem; */
  
    background-color: var(--header-color);
}

.ds4a-body {
    
    margin-left: 16rem;
    width: var(--widthLef);
    padding: 1rem 1rem;
    z-index: 1;
    background-color: var(--secondary-color);
    
}



.ds4a-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
    z-index: 999;
    background-color: var(--main-color); 
}

#ds4a-image{
    width: 80%;
}
#ds4a-logo-masivo {
    height: 70px;
}

#title-principal{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;
    
}
#label_scatter{
    
    text-align: center;
    color: white;
}
.item-selection {
    text-align: center;
    font-size: 14px;
}
.hidden {
    display: none;
}

.content {
    margin-left: 18rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

.card {
    
    border-color:var(--secondary-color);
    background-color: var(--secondary-color);
}
.Rowbody_1{
    margin-left: 0rem;
    margin-right: 0rem;
    width: var(--widthLef);
}
.Rowbody_2{
    margin-left: 0rem;
    margin-right: 0rem;
    width: var(--widthLef);   
}
.Rowbody_3{
    margin-left: 0rem;
    margin-right: 0rem;
    width: var(--widthLef);   
}
.DateInput_input, .DateInput_input_1 {
    
    
    /* my personal stuff */
    text-align: center;
    
/* default flatly stuff */
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 0.9375rem;
    font-weight: 400;
    color: #7b8a8b;
    background-color: #fff;
      
}
.DateRangePickerInput {
    position:center;
    background-color: var(--main-color);
    border-color: var(--main-color);
    margin-left: 3rem;
    margin-right: 2rem;
    width:8rem;
    
    
}

