/*This document contains the styles that use the app. You can change these as you wish.*/
:root {
    --main-color: #031a2c;
    --secondary-color: #073559;
    --header-color: #649ee3;
  }
h6 {
    color: #ffffff;
}
.ds4a-app {
    background-color: var(--secondary-color);
}
.ds4a-title {
    
    position: sticky;
    top: 0;
    left: 0;
    right:0;
    z-index: 999; 
    color: #ffffff;
    margin-left: 16rem;
    /* margin-right: 2rem; */
  
    background-color: var(--header-color);
}

.ds4a-body {
    
    margin-left: 16rem;
    margin-right:0rem;
    padding: 1rem 1rem;
    z-index: 1;
    background-color: var(--secondary-color);
    
}

.container {
    max-width: 1090px !important;
}



.ds4a-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
    z-index: 999;
    background-color: var(--main-color); 
}

#ds4a-image{
    width: 80%;
}
#ds4a-logo-masivo {
    height: 70px;
}

#title-principal{
    text-align: center;
    padding-top: 10px;
}

.item-selection {
    text-align: center;
    font-size: 14px;
}
.hidden {
    display: none;
}

.content {
    margin-left: 18rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

/* .card {
    
} */

.svg-big {
    height: 100%;
}

#average_number_buses_per_hour, #histogram_validation{
    height: 100%;
}

