/*This document contains the styles that use the app. You can change these as you wish.*/

.ds4a-app {
    background-color: #F8F9F9
}
.ds4a-title {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right:0;
    z-index: 999;
    height:7rem;
    margin-left: 16rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
    background-color: #a5a5a5;
}

.ds4a-body {
    
    margin-left: 16rem;
    margin-right:0rem;
    padding: 1rem 1rem;
    z-index: 1;
    background-color: #F8F9F9;
    
}



.ds4a-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
    z-index: 999;
    background-color: #C0C0C0; 
}
